## Q4) & Q5) Conclude the analysis by fittinga new model on these selectedvariables and reportthe same. Report the accuracy

In [20]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import SelectFromModel
from sklearn.feature_selection import RFE

%matplotlib notebook

### Removing unncessary columns 
**TAIL_NUM = No Uniuqe information is encoded in the TAIL_NUM, the FL_Num fullfill that gap.** 

**FL_DATE = No Uniuqe information is encoded in the FL_DATE, the DAY_OF_MONTH fullfill that gap.**

In [21]:
dataset=pd.read_csv('FlightDelays.csv')
LE = LabelEncoder()
dataset = dataset.drop(['FL_DATE','TAIL_NUM'],axis = 1)
dataset.head()

,CRS_DEP_TIME,CARRIER,DEP_TIME,DEST,DISTANCE,FL_NUM,ORIGIN,Weather,DAY_WEEK,DAY_OF_MONTH,Flight Status
0,1455,OH,1455,JFK,184,5935,BWI,0,4,1,ontime
1,1640,DH,1640,JFK,213,6155,DCA,0,4,1,ontime
2,1245,DH,1245,LGA,229,7208,IAD,0,4,1,ontime
3,1715,DH,1709,LGA,229,7215,IAD,0,4,1,ontime
4,1039,DH,1035,LGA,229,7792,IAD,0,4,1,ontime

In [22]:
carrier=pd.get_dummies(dataset['CARRIER'],drop_first=True)
destination=pd.get_dummies(dataset['DEST'],drop_first=True)
origin=pd.get_dummies(dataset['ORIGIN'],drop_first=True)
Flight_status=pd.get_dummies(dataset['Flight Status'],drop_first=True)

Finaldataset = dataset.drop(['CARRIER','DEST','ORIGIN','Flight Status'],axis=1)
Finaldataset = pd.concat([Finaldataset,carrier,destination,origin,Flight_status],axis=1)

Finaldataset.head()

,CRS_DEP_TIME,DEP_TIME,DISTANCE,FL_NUM,Weather,DAY_WEEK,DAY_OF_MONTH,DH,DL,MQ,OH,RU,UA,US,JFK,LGA,DCA,IAD,ontime
0,1455,1455,184,5935,0,4,1,0,0,0,1,0,0,0,1,0,0,0,1
1,1640,1640,213,6155,0,4,1,1,0,0,0,0,0,0,1,0,1,0,1
2,1245,1245,229,7208,0,4,1,1,0,0,0,0,0,0,0,1,0,1,1
3,1715,1709,229,7215,0,4,1,1,0,0,0,0,0,0,0,1,0,1,1
4,1039,1035,229,7792,0,4,1,1,0,0,0,0,0,0,0,1,0,1,1

In [23]:
Finaldataset.drop(['ontime'],axis =1).columns

Index(['CRS_DEP_TIME', 'DEP_TIME', 'DISTANCE', 'FL_NUM', 'Weather', 'DAY_WEEK',
       'DAY_OF_MONTH', 'DH', 'DL', 'MQ', 'OH', 'RU', 'UA', 'US', 'JFK', 'LGA',
       'DCA', 'IAD'],
      dtype='object')

In [24]:
x_total = Finaldataset.drop(['ontime'],axis =1).values
y = Finaldataset['ontime'].values
print(y)

[1 1 1 ... 1 1 1]

In [25]:
xtrain,xtest,ytrain,ytest = train_test_split(x_total,y,test_size=0.4,random_state=42)

In [26]:
def Logistic_Regression(xtrain,xtest,ytrain,ytest):
    model = LogisticRegression(random_state=0, max_iter = 1000)
    model.fit(xtrain,ytrain)
    predictions = model.predict(xtest)
    accuracy = confusion_matrix(ytest,predictions)
    print(model.coef_ )
    print(model.intercept_)
    print(accuracy_score(ytest,predictions))
    return model

In [27]:
LRmodel = Logistic_Regression(xtrain,xtest,ytrain,ytest)

selector = RFE(LRmodel,n_features_to_select = 1)
selector = selector.fit(xtrain,ytrain)

[[ 2.30607842e-02 -2.36838080e-02  1.07909141e-02  8.88192493e-05
  -8.22280652e-01  7.09097630e-02 -2.54042677e-02  4.66360361e-03
   6.79125220e-01 -9.58796708e-01  4.52650384e-01  3.09780086e-02
   3.49260862e-02  3.86232365e-01  3.67768044e-01 -6.26845997e-02
  -1.37832142e-01 -5.27690430e-01]]
[0.13739832]
0.8967082860385925

In [33]:
order =  selector.ranking_

In [34]:
featurelist = {}
for rank,col in zip(order,Finaldataset.columns):
    featurelist.update({rank:col})

In [35]:
dict(sorted(featurelist.items()))

{1: 'Weather',
 2: 'US',
 3: 'OH',
 4: 'DL',
 5: 'UA',
 6: 'JFK',
 7: 'LGA',
 8: 'RU',
 9: 'MQ',
 10: 'DCA',
 11: 'DAY_WEEK',
 12: 'DH',
 13: 'DAY_OF_MONTH',
 14: 'DEP_TIME',
 15: 'CRS_DEP_TIME',
 16: 'IAD',
 17: 'DISTANCE',
 18: 'FL_NUM'}

In [36]:
x_selected = Finaldataset.drop(['US','FL_NUM','DISTANCE','ontime'],axis =1).values
# x_selected.head()

In [37]:
x_train,x_test,y_train,y_test = train_test_split(x_selected,y,test_size=0.4,random_state=42)

selected_LRmodel = Logistic_Regression(x_train,x_test,y_train,y_test)

[[ 0.02289394 -0.02348228 -1.96300432  0.06162317 -0.02283404  0.44550027
   0.20347054 -0.76993711  1.07451584 -0.03262621  0.29868589  0.61779866
   0.39697302  0.12836278 -0.33814262]]
[2.22527214]
0.8989784335981839

## Q6) Find the ideal weather conditions for the highest chance of an ontime flightfrom DC to New York . (weather, time, day, carrier)

**ANS = In the Report (according of analysis of the  barplot and  boxplots) \
The best flights  from DC to NY are shown below**

In [45]:
dataset[(dataset['Weather'] == 0) & (dataset['DAY_WEEK'] == 6) & (dataset['CARRIER'] == 'US') & (dataset['CRS_DEP_TIME'] == 1300)]

,CRS_DEP_TIME,CARRIER,DEP_TIME,DEST,DISTANCE,FL_NUM,ORIGIN,Weather,DAY_WEEK,DAY_OF_MONTH,Flight Status
141,1300,US,1256,LGA,214,2172,DCA,0,6,3,ontime
670,1300,US,1256,LGA,214,2172,DCA,0,6,10,ontime
1189,1300,US,1259,LGA,214,2172,DCA,0,6,17,ontime
1712,1300,US,1259,LGA,214,2172,DCA,0,6,24,ontime
2180,1300,US,1256,LGA,214,2172,DCA,0,6,31,ontime